<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.captain_miao.android.supportsdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application>
        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55fc2b40e0f55a4ccb000a33" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="fir.im" />


        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
